{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
{% autopaginate queryset 30 %}
<p><a href="{% url "asset-request-form" org_url %}" class="tiny button right">Asset Request</a></p>
<h2>Assets</h2>

<div class="large-2 columns"> 
    <h4>Asset class</h4>
    <ul>
        {% for val, class in search_form.forms.0.fields.item_class.choices %}
        <li> 
            <a href="?item_set-TOTAL_FORMS=1&item_set-INITIAL_FORMS=0&item_set-MAX_NUM_FORMS=1000&item_set-0-item_class={{ val }}">{{ class }} </a> 
            {% if user.is_staff %}<a href="{% url "assets-add" org_url val %}">+</a> {% endif %}
        </li>
        {% endfor %}
    </ul>
    
    <h4>Location</h4>
    <ul>
        {% for val, location in search_form.forms.0.fields.location.choices %}
        <li> 
            <a href="?item_set-TOTAL_FORMS=1&item_set-INITIAL_FORMS=0&item_set-MAX_NUM_FORMS=1000&item_set-0-location={{ val }}">{{ location }} </a> 
        </li>
        {% endfor %}
    </ul>
    
    <h4>Owner</h4>
    <ul>
        {% for val, owner in search_form.forms.0.fields.owner.choices %}
        <li> 
            <a href="?item_set-TOTAL_FORMS=1&item_set-INITIAL_FORMS=0&item_set-MAX_NUM_FORMS=1000&item_set-0-owner={{ val }}">{{ owner }} </a> 
        </li>
        {% endfor %}
    </ul>
</div>

<div class="large-8 columns">
{% paginate %}

<table>
	<thead>
		<tr>
			<th>SKU</th>
			<th>class</th>
			<th>location</th>
			<th>owner</th>
			<th>state</th>
			<th>active</th>
			{% if user.is_staff %}<th></th>{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for item in queryset %}
		<tr>
			<td><a href="{% url "asset_view" org_url item.property_number %}" >{{ item.property_number }}</a></td>
			<td>{{ item.item_template }}</td>
			<td>{{ item.location }}</td>
			<td>{{ item.owner }}</td>
			<td>{{ item.state }}</td>
			<td>{{ item.active }}</td>
			{% if user.is_staff %}
			<td><a href="{% url "assets-edit" org_url item.property_number %}" class="tiny.button">EDIT</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% paginate %}

</div>

<form action="./" method="get" class="search large-10 columns">
	<ul>
		{{ search_form.as_ul }}
		{{ search_form.management_form }}
		<li><button>SEARCH</button></li>
	</ul>
	{% csrf_token %}
	<p><a href="{# url "export_assets_xsl" org_url #}?{{ query }} " class="tiny.button" >export Excel</a></p>
</form>

{% endblock content %}
