{% extends "base.html" %}

{% block content %}
<h2>Incident Management</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Submited at</th>
            <th>Submited by</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
        {% for incident in incidents %}
        <tr> 
            <td>{{ incident.submited_at }}</td>
            <td><a href="{% url 'incident' org_url incident.id %}">{{ incident.subject }}</a></td> 
            <td>{{ incident.submited_by }}</td>
            <td class="priority_{{ incident.priority }}">{{ incident.get_priority_display }}</td>
            <td>{{ incident.deadline }}</td>
            <td class="status_{{ incident.status }}">{{ incident.get_status_display }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% include "incidents/_new_incident_form.html" %}
    
{% endblock content %}
